        body {
            background-color: #f1f3ef;
        }
        
        .census {
            margin-left: 80px;
            font-family: 'Source Code Pro', monospace;
            font-weight: 600;
            color: #519872;
        }
        
        .values {
            font-family: 'Source Code Pro', monospace;
            font-weight: 600;
            margin: 0px 0px 20px 0px;
        }
        
        .types {
            font-family: 'Source Code Pro', monospace;
            font-weight: 100;
            color: #828282;
            margin: 40px 0px 0px 0px;
        }
        
        #maleIcon {
            width: 100%;
            height: 70px;
            background-color: white;
        }
        
        #icon1 {
            height: 50px;
            background-color: #519872;
            margin: 40px 0px 0px 20px;
            border-radius: 10px;
        }
        
        #icon2 {
            height: 50px;
            background-color: #519872;
            margin: 40px 0px 0px 20px;
            border-radius: 10px;
        }
        
        #icon3 {
            height: 50px;
            background-color: #519872;
            margin: 40px 0px 0px 20px;
            border-radius: 10px;
        }
        
        #rightdiv {
            display: grid;
            grid-template-columns: 5% 5%;
            height: 10px;
            background-color: darkgreen;
        }
        
        .part {
            background-color: darkgrey;
        }
        
        #overall {
            display: grid;
            grid-template-columns: 27% 27% 27%;
            column-gap: 3%;
            /* background-color: aqua; */
            width: 100%;
            height: 130px;
            justify-content: center;
        }
        
        .top {
            background-color: #FFFFFF;
            display: grid;
            grid-template-columns: 22% 55%;
            column-gap: 15%;
            border-radius: 7px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        #secondDiv {
            display: grid;
            grid-template-columns: 57% 27%;
            column-gap: 3%;
            /* background-color: chocolate; */
            /* width: 100%; */
            height: 370px;
            justify-content: center;
            margin: 30px 0px 0px 0px;
        }
        
        #countyChart {
            background-color: #FFFFFF;
            border-radius: 8px;
            /* width: 27%; */
        }
        
        #countyDiagram {
            background-color: #519872;
            border-radius: 8px;
        }
        
        #distChartDiv {
            /* background-color: #828282; */
            /* margin-bottom: 300px; */
            margin: -180px 0px 0px 0px;
            height: 300px;
            width: 965px;
        }
        
        #thirddiv {
            display: grid;
            grid-template-columns: 35% 35%;
            column-gap: 43%;
            background-color: #FFFFFF;
            width: 74%;
            height: 450px;
            justify-self: center;
            margin: 40px 0px 0px 80px;
            border-radius: 8px;
            padding: 80px;
        }
        
        #counties {
            background-color: #F0F2EF;
            /* border-color: #B1D2C2; */
            border: 3px solid#B1D2C2;
            width: 75%;
            height: 50px;
            font-size: x-large;
            text-align: center;
            margin-bottom: 50px;
            /* margin: -50px 0px 0px 740px; */
        }
        
        #district {
            margin: 0px 0px -10px 0px;
            font-family: 'Source Code Pro', monospace;
            font-weight: 300;
            font-size: x-large;
        }
        
        #distDiv {
            /* background-color: #828282; */
            width: 600px;
        }
        
        #fourthdiv {
            display: grid;
            grid-template-columns: 30% 27%;
            column-gap: 31%;
            justify-content: center;
            width: 87%;
            background-color: #519872;
            height: 120px;
            margin: 45px 0px 0px 80px;
            border-radius: 10px;
        }
        
        #download {
            display: grid;
            grid-template-columns: 5% 18%;
            column-gap: 10%;
            background-color: #F0F2EF;
            height: 73px;
            margin-top: 25px;
            text-align: center;
            border-radius: 10px;
            justify-content: center;
        }
        
        #txtDownload {
            margin-top: 30px;
        }
        
        #downloadIcon {
            height: 30px;
            background-color: #519872;
            margin: 20px 0px 0px -25px;
            border-radius: 10px;
        }
        
        #btnDownload {
            height: 3px;
        }
        
        #fifthDiv {
            display: grid;
            grid-template-columns: 55% 30%;
            column-gap: 2%;
            justify-content: center;
            /* width: 87%; */
            /* background-color: brown; */
            height: 450px;
            margin: 45px 0px 0px 0px;
            border-radius: 8px;
        }
        
        #householdChart {
            /* width: 87%; */
            background-color: #FFFFFF;
            /* height: 400px; */
            margin: 0px 0px 0px 0px;
            border-radius: 10px;
        }
        
        #population {
            background-color: #FFFFFF;
            border-radius: 10px;
        }